/* ---- reset ---- */

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    padding: 0;
    height: 100%;
  }

* {
    font-family: 'Press Start 2P', cursive;
}

/* Burguer Menu */

.hidden-bun {
    display: none;
}

.burguer-icon {
display: flex;
flex-direction: column;
align-content: center;
}

.burguer-icon:hover {
    cursor: pointer;
}

.top-burguer,
.middle-burguer,
.bottom-burguer {
    transition: all 0.5s ease;
    height: 5px;
    width: 40px;
    background-color: whitesmoke;
    margin-bottom: 4px;
    border-radius: 4px;
}

.rotate-top {
    transition: all 0.5s ease;
    transform: rotate(45deg);
}


.rotate-bottom {
    margin-top: -9px;
    transition: all 0.5s ease;
    transform: rotate(-45deg);
}

.container-top {
    margin: 0 auto;
    background-color: black;
    padding: 20px;
    min-height: 70px;
}

.menu-list {
    background-color: black;
    color: whitesmoke;
    position: absolute;
    top: 80px;
    border-radius: 10px;
}

.menu-hidden {
    display: none;
    transition: all 0.5s ease;
}

li {
    list-style: none;
    margin-bottom: 5px;
    padding-right: 20px;
}

li:hover {
    color: lightblue;
}

li:hover {
    animation-fill-mode: forwards;
    position: relative;
    animation: slide 1s;
}

@keyframes slide {
    0% {
        left: 0px
    }

    100% {
        left: 8px;
    }
}

li:hover {
    cursor: pointer;
}

.slide-menu {
    animation: forwards 2s ease;
    position: relative;
}

@keyframes forwards {
    0% {
        top: 0px
    }

    100% {
        top: 100px;
    }
}

/* .player1-instructions-list {

} */

  /* //---- Game -----// */

#game-container{
    display: flex;
    justify-content: center;
}

.title {
    width: 20%;
}

#canvas {
    border: 1px solid black;
    margin-top: 50px;
    background-image: url('images/Diseño\ sin\ título\ \(1\).png');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 25%;
    left: 22%;
}

/* .body-container {
min-height:100%;
position:relative;
} */


.container {
    margin-bottom: 100px;
    background-image: url();
}



h1 {
    position: absolute;
    top: 10%;
    left: 25%;
    color: white;
    font-size: 2em;
    color: yellow;
}

/* .player1-instructions-list {
    margin-bottom: 20px;
}

.player2-instructions-list {
    position: absolute;
    left: 25%;
    animation: none;
} */

/* .player2-instructions-list {
    position: absolute;
    top: 40%;
    left: 25%;
} */

#instructions-list {
    margin-bottom: 20px;
}

#back-button {
    position: absolute;
    top: 80%;
    left: 42%;

}

button {
    width: 200px;
    height: 40px;
    background-color: yellow;
    background-size: cover;
    color: black;
    border-radius: 50%;
    border: none;
    font-size: 1em;
    margin-right: 80px;
    float: right;
    margin-top: 20px;
    padding: 10px 10px 10px 10px;
    text-align: center;
    margin-bottom: 20px; 
    position: absolute;
    top: 70%;
    left: 42%;
}
   

button:hover {
    display: block;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: white;
    background-image: url(images/noun_1787480_cc.svg);
    background-size: cover;
    position: absolute;
    top: 60%;
    left: 42%;
    color: red;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
    text-shadow: 1em;
    transition-duration: 1s;
    }


/* footer {
    height: 80px;
    background-color: black;
} */

#messiCristiano {
    background-size: cover;
    width: 100%;
    height: 80%;
}

/* #cristiano-wins {
background-image: url(https://media.giphy.com/media/xT1XGVp95GDPgFYmUE/giphy.gif);
display: cover;
background-repeat: no-repeat;
} */

/* Restart screen */

 /* {
    background-image: url('<iframe src="https://giphy.com/embed/3ohhwAADQcO4Ti5LSo" width="480" height="464" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/messi-lionel-lio-mess-3ohhwAADQcO4Ti5LSo">via GIPHY</a></p>')
} */
